/**
 * Main Styles
 */


body{
    background: #ccc;
}


/* ====================
    Map View
   ==================== */
#view-home {

    background: blue;

    #mapCanvas {
        background: green;
        width: 100%;
        position: absolute;
        //top: 40px;
        z-index: -1;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}


/* ====================
    Panels
   ==================== */

.panel{
    min-height: 500px;
    &.inview{
        background: green;
    }
}
