/**
 * Main Styles
 */
body {
  background: #ccc;
}
/* ====================
    Map View
   ==================== */
#view-home #mapCanvas {
  background: #000000 url(/static/img/design/ajax-loader.gif) 50% 50% no-repeat;
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}
/* ====================
    Panels
   ==================== */
.panel {
  min-height: 500px;
}
.panel.inview {
  background: green;
}
