<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title></title>

        <link rel="stylesheet" href="/static/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>

        <script src="/static/js/libs/modernizr-2.0.6.min.js"></script>

        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
        <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
        <script src="/static/js/script.js"></script>
        
    </head>

    <body> 

        <!-- Start of first page: #one --> 
        <div id="container">
            <div> 
                <h1>Where's my pissing bus?</h1> 
            </div><!-- /header --> 

            <div id="one">	
                
                <div id="screen"></div>
                
                <h3>Buses</h3> 
                <ul id="buses">
                    <li><a href="#two" class="button" data-route="88">88</a></li>	
                    <li><a href="#two" class="button" data-route="345">345</a></li>	
                    <li><a href="#two" class="button" data-route="p5">P5</a></li>	
                    <li><a href="#two" class="button" data-route="155">155</a></li>	
                    <li><a href="#two" class="button" data-route="38">38</a></li>	
                </ul>

                <h3>Stops</h3>
                <ul id="stops">

                    %for item in stops:
                    <li><a href="#{{item['id']}}" class="button" data-route="{{item['id']}}">{{item['name']}}</a></li>
                    %end
                </ul>


                
            </div><!-- /content -->
        </div>


        <script>
            Modernizr.load({
                load: 'https://apis.google.com/js/plusone.js'
            });

        </script>
    </body> 
</html> 


