<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <title>Bus Countdown</title>

        <link rel="apple-touch-startup-image" href="/static/img/design/startup-320x460.png" sizes="320x460" />
        <link rel="apple-touch-startup-image" href="/static/img/design/startup-640x1096.png" sizes="640x1096" />
        <link rel="apple-touch-startup-image" href="/static/img/design/startup-640x920.png" sizes="640x920" />

        <link rel="stylesheet" href="/static/css/ios.css">
        <link rel="stylesheet" href="/static/css/main.css">

        <link rel="apple-touch-icon" href="/static/img/design/apple-touch-icon.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/static/img/design/apple-touch-icon-72.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="/static/img/design/apple-touch-icon-114.png"/>

        <script src="/static/js/version.js"></script>
        <script src="http://maps.google.com/maps/api/js?v=3.exp&sensor=true"></script>
        <script data-main="/static/js/app" src="/static/js/lib/require/require.js"></script>
        <script src="/static/js/config.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-971803-20']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>

    <body>
        <div id="appLoader"></div>
        <div class="view hidden" id="view-countdown">
            <header>
                <a href="#" class="header-button header-button-left header-button-back"><button>Back</button></a>
                <h1 style="margin: 0 65px;">Arrivals</h1>
            </header>
            <div class="scroll striped">
                <section class="arrivals">
                    <ul class="arrivals-list">
                    </ul>
                </section>
            </div>
        </div>

        <div class="view hidden" id="view-about">
            <header>
                <a href="#" class="header-button header-button-left header-button-back"><button>Back</button></a>
                <h1 style="margin: 0 65px;">Bus Stops</h1>
            </header>
            <div class="scroll striped">
                <section>
                    <div class="grouped-tableview cf">
                        <span id="y-icon"></span>
                        <p id="app-desc"><strong>Edog's Bus app</strong><br>Cos waiting without knowing is shit.</p>
                    </div>
                    <ul class="grouped-tableview grouped-tableview-links">
                        <li><a href="http://errkk.co/" target="_blank" class="disclosure">errkk.co</a></li>
                    </ul>
                    <p class="foot-label">Data from TFL</p>
                    <p class="foot-label version">Data from TFL</p>
                </section>
            </div>
        </div>
        <div class="view hidden" id="view-list">
            <header>
                <a href="#" class="header-button header-button-left header-button-back"><button>Map</button></a>
                <h1 style="margin: 0 65px;">Bus Stops</h1>
            </header>
            <div class="scroll striped">
                <section>
                    <ul class="tableview tableview-links">
                    </ul>
                </section>
            </div>
        </div>
        <div class="view" id="view-home">
            <header>
                <a href="#about" class="header-button header-button-left"><button>About</button></a>
                <h1 style="margin: 0 65px;">Bus Stops</h1>
                <a href="#na" class="btn-refresh header-button header-button-icon header-button-right" id="view-home-refresh"><button><i class="icon-refresh">Refresh</i></button></a>
            </header>
            <menu class="menu-bottom">
                <a class=".header-button button" href="#list">List</a>
            </menu>
            <div id="mapCanvas"><div>
        </div>

        <script type="template" id="stopRow">
            <li>
                <span class="number"><%= number %></span>
                <span class="destination"><%= destination %></span>
                <span class="time"><%= time %></span>
            </li>
        </script>

        <script type="template" id="listRow">
            <li>
                <a href="#countdown/<%= id %>" class="detail-disclosure ">
                    <div class="indicator"><%= indicator %></div>
                    <div class="story">
                        <b><%= name %></b>
                        <span class="metadata">
                            <span class="inline-block"><%= towards %></span>
                        </span>
                    </div>
                </a>
                <a href="#countdown/<%= id %>" class="detail-disclosure-button"><span></span></a>
            </li>
        </script>
    </body>
</html>


